<div *ngIf="client" class="selected-client">
  <div class="selected-client__avatar"><img src="{{ client?.general.avatar }}" alt="Avatar"></div>
  <div class="selected-client__title-info">
    <div class="name">
      {{ client?.general.firstName }} {{ client?.general.lastName }}
    </div>
    <div class="job">
      {{ client?.job.title }} - {{ client?.job.company }}
    </div>
  </div>
  <div class="selected-client__main-info">
    <div class="info-wrap">
      <p class="street"><b>Address: </b>{{ client?.address.street }}</p>
      <p class="city">{{ client?.address.city }}, {{ client?.address.zipCode }} {{ client?.address.country }}</p>
      <p class="phone"><b>Phone: </b>{{ client?.contact.phone }}</p>
      <p class="email"><b>Email: </b>{{ client?.contact.email }}</p>
    </div>
  </div>
</div>
