@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;

  .search-block {
    border-right: 2px solid darkblue;
    flex-basis: 20%;
    overflow: hidden;

    &__input {
      width: 100%;
      max-height: 10vh;
      height: 10vh;

      .mat-form-field {
        width: 100%;
      }

      .mat-form-field-flex {
        padding: 10px;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
      }

      .mat-form-field-infix {
        border-top: 0.5px solid transparent;
      }

      .mat-form-field-wrapper {
        padding: 0;
        height: 10vh;
      }

      .mat-form-field-underline {
        bottom: 0;
      }
    }

    &__clients-list {
      max-height: 90vh;
      height: 90vh;
      overflow: hidden;
      margin-right: -15px;
    }

    &__client-wrap {
      overflow: auto;
      height: 100%;
      width: 101%;
      padding-right: 15px;
      box-sizing: content-box;

      .client {
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 11px 10px;
        border-bottom: 1px solid darkblue;
        z-index: 1000;

        * {
          z-index: -1;
        }

        &__avatar {
          flex-basis: 100px;
          margin-right: 10px;

          img {
            max-width: 100%;
            border-radius: 50%;
          }
        }

        &__info {
          flex-basis: 200px;
        }

        &__full-name {
          margin-bottom: 5px;
          font-size: 18px;
        }

        &__job {
          font-size: 12px;
        }

        &:nth-child(1) {
          border-top: none;
        }

        &:last-child {
          border: none;
        }

        &:hover, &.active {
          border-bottom: 2px solid darkblue;
          border-top: 1px solid darkblue;
          padding: 10px;
          background: #248eff1f;
        }
      }
    }
  }

  .client-info {
    flex-basis: 80%;
    max-height: 100vh;
    overflow: auto;

    .selected-client {
      display: flex;
      flex-wrap: wrap;
      padding: 40px;

      &__avatar {
        flex-basis: 12%;

        img {
          min-width: 100%;
          border-radius: 50%;
          box-shadow: 1px 2px 5px 0.2px black;
        }
      }

      &__title-info {
        flex-basis: 80%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;

        .name,
        .job {
          flex-basis: 100%;
        }

        .name {
          font-size: 35px;
          align-self: flex-end;
          margin-bottom: 10px;
        }
      }

      &__main-info {
        flex-basis: 100%;
        line-height: 160%;

        .info-wrap {
          padding: 20px;
          width: 74%;
          margin: 0 auto;

          .city {
            margin-left: 75px;
          }

          p {
            b {
              text-transform: uppercase;
              color: #444;
            }
          }
        }
      }
    }
  }
}
